### Locale configuration

d-i debian-installer/locale string en_US

### Network configuration

d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain

d-i netcfg/hostname string sidx

d-i netcfg/wireless_wep string
### Firmware
d-i hw-detect/load_firmware boolean true

### Packages

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i mirror/suite string testing

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

tasksel tasksel/first multiselect standard

d-i apt-setup/multiarch string i386

d-i popularity-contest/participate boolean false

### Account setup

d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password $6$ByRE8hd5witmJ5XB$HbE0evagGC2JulmSJ2SALMoRQhLJQpC7qWLxv2ZuP7ai/iU.uhsmjAp1iMlPPNNaLFF3G4wCiqUkHCadxATAw0
#the root password is root, but the root account will be disabled at the end of the installation
d-i passwd/make-user boolean false
